@charset "UTF-8";
$font-color: white;//首页字体颜色
$tit-back-color: #c9151e;//表头 菜单等 主体配色
$frame-color: black;//网页框填充配色（主题红黑白搭配）
$foot-back-color: gray;//底部背景色
$web-width: 1200px;//网站宽度
$font-size: 16px;//字体大小
